/**
 * Quintor theme for reveal.js
 * Author: Lammert Hellinga http://github.com/Kogelvis
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Colors used in the theme
$quintor: #a13b4a;
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;
$quintorBackground: #181D27;

$mainFontSize: 42px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $quintor;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// some overrides after theme template import

.quintor-background {
  background-color: $quintorBackground;
}

.dark-background,
.dark-background h1,
.dark-background h2,
.dark-background h3,
.dark-background h4,
.dark-background h5,
.dark-background h6 {
  color: #fff;
}

body:after {
  content: url(../../images/logo_right.png);
  position: fixed;
  top: 0;
  right: 0;
}

.title_page h1 {
  margin-left: 33%;
}

.title_page h3 {
  margin-left: 33%;
}

.reveal-viewport {
  background-image: url(../../images/blokjes.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  background-size: 18%;
}

.reveal .center-img p {
  text-align: center;
}

.reveal .center-img img {
  border: 0;
  box-shadow: none;
  background: none;
}

.bg {
  background-color: rgba(34, 34, 34, 0.65);
}

.reveal .dark-overlay .slide-background-content::after {
  content: "";
  display: block;
  position: fixed;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.5);
}

/*********************************************
* BIG TABLE > SMALER FONT-SIZE
*********************************************/
.reveal .bigtable table th {
  text-align: left;
  padding: 0.5em 0.5em 0.2em 0.5em;
  font-size: 0.7em;
  border-bottom: 2px solid;
}

.reveal .bigtable table td {
  text-align: left;
  padding: 0.2em 4em 0.2em 0.5em;
  font-size: 0.5em;
  border-bottom: 1px solid;
}

.reveal .timetable .smaller {
  font-size: 0.8em;
}

// Columns

.columns {
  display: grid !important;
  grid-gap: 1rem;
  align-items: start;
}

.columns pre {
  margin: unset;
  width: unset;
}

.columns pre code {
  width: 100%;
  height: 100%;
}

.columns.two {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
}

.columns.three {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left middle right";
}

.columns.four {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "left left-middle right-middle right";
}

.columns > * {
  display: block !important;
}

.columns > .left {
  grid-area: left;
}

.columns > .right {
  grid-area: right;
}

.columns > .middle {
  grid-area: middle;
}

.columns > .middle.left {
  grid-area: left-middle;
}

.columns > .middle.right {
  grid-area: right-middle;
}

.columns.four > .middle {
  grid-area: unset;
  grid-column: span 2;
}

.columns > [data-span="2"] {
  grid-area: unset;
  grid-column: span 2;
}
